<app-dialog>
  <h2 title>
    @if (isEdit) {
      Edit movie with id = {{ data.movie.id }}
    } @else {
      Add new movie
    }
  </h2>
  <form [formGroup]="formGroup" (submit)="submit()">
    <input
      placeholder="title"
      type="text"
      formControlName="title"
      [class.error]="submitted && formGroup.get('title')?.errors"
    />
    <input
      placeholder="year"
      type="number"
      min="1900"
      formControlName="year"
      [class.error]="submitted && formGroup.get('year')?.errors"
    />
    <select multiple formControlName="actors">
      <option value="" disabled selected>Select actors</option>
      @for (actor of actors; track actor.id) {
        <option [value]="actor.name">{{ actor.name }}</option>
      }
    </select>

    @if (submitted && !this.formGroup.valid) {
      <ul class="required-error required-error-list">
        @if (formGroup.get('title')?.errors) {
          <li>* Please, Title is required</li>
        }
        @if (formGroup.get('year')?.errors) {
          <li>* Please, Year is required</li>
        }
      </ul>
    }

    <button type="submit" class="submit">Save!</button>
  </form>

  @if (isEdit) {
    <button (click)="delete()" class="submit">Delete!</button>
  }
</app-dialog>
