@import url(./assets/styles/reset.css);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


input {
  &.error {
    border: 1px solid red;
  }
}

.required-error {
  &-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  color: #FF0000;
}
